@namespace BlazorTabs
@inherits TabItemBase

@using Microsoft.AspNetCore.Components.Web

<style type="text/css">

    .ellipsis {
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
    }
</style>

<CascadingValue Value=this>

    <li>
        <a class="nav-link position-relative ellipsis @TitleCssClass" @onclick="() => ActivateTab()" href="javascript:void(0);" role="button" style="height: 48px; max-width: 120px;">
            @TabTitle
        </a>
    </li>

</CascadingValue>

@code {

}
