/*
body * { border-radius: 0px; -webkit-border-radius: 0px; -moz-border-radius: 0px; }
*/

html {
    scrollbar-color: #616161 #161616;
}

body {
    background-color: #ddffdd !important;
}

    body::-webkit-scrollbar {
        width: auto;
        background-color: #161616;
    }

    body::-webkit-scrollbar-thumb {
        background: #616161;
    }

    body::-webkit-scrollbar-button {
        background-color: #464646;
    }

    body .app-menu .nav-item {
        padding-bottom: 0rem;
    }

@media (max-width: 767px) {

    body main nav.navbar {
        padding: 0.25rem 0rem !important;
    }

    body main div.content.container {
        position: relative;
        top: 15px !important;
    }

    body app main .content.container .row {
        padding-left: 0px !important;
        padding-right: 0px !important;
    }
}
